@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        @include font;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
}

#news__page {
    header {
        .navbar {
            margin-top: 50px;
            margin-bottom: 40px;
            #navbarNav {
                justify-content: flex-end;
                .navbar-nav {
                    gap: 20px;
                    .nav-item {
                        .nav-link {
                            color: $dark-grayish-blue;
                            font-weight: 500;
                            &:hover {
                                color: $soft-red;
                            }
                        }
                    }
                }
            }
        }
    }
}