@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        @include font;
        max-height: 100vh;
        margin: 0;
        padding: 0;
    }
}

#news__page {
    header {
        .navbar {
            margin-top: 55px;
            margin-bottom: 30px;
            #navbarNav {
                justify-content: flex-end;
                .navbar-nav {
                    gap: 20px;
                    .nav-item {
                        .nav-link {
                            color: $dark-grayish-blue;
                            font-weight: 500;
                            &:hover {
                                color: $soft-red;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        .main__topStories {
            margin-bottom: 50px;
            .topStories-content-headline {
                .content-slide {
                    margin-bottom: 30px;
                    .storiesSwiper {
                        .swiper-wrapper {
                            .swiper-slide {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .content-text {
                    @include d-flex;
                    gap: 50px;
                    .title {
                        font-size: 55px;
                        line-height: 1;
                        font-weight: 700;
                        flex-basis: 100%;
                    }
                    .description {
                        flex-basis: 100%;
                        p {
                            padding-bottom: 15px;
                        }
                        a {
                            button {
                                background-color: $soft-red;
                                color: $off-white;
                                text-decoration: none;
                                text-transform: uppercase;
                                padding: 14px 30px;
                                letter-spacing: 4px;
                                font-weight: 700;
                                font-size: 13px;
                                border: none;
                                outline: none;
                                &:hover {
                                    background-color: $very-dark-blue;
                                }
                            }
                        }
                    }
                }
            }
            .topStories-content-newsbar {
                .newsbar-items {
                    background-color: $very-dark-blue;
                    height: 100%;
                    padding: 25px;
                    .newsbar-headline {
                        margin-bottom: 20px;
                        h1 {
                            color: $soft-orange;
                            font-weight: 700;
                            margin-top: 10px;
                        }
                    }
                    .newsbar-item {
                        display: flex;
                        flex-direction: column;
                        .newsbar-item-content {
                            span {
                                color: $off-white;
                                font-weight: 700;
                                font-size: 20px;
                                &:hover {
                                    color: $soft-orange;
                                    cursor: pointer;
                                }
                            }
                            p {
                                color: $grayish-blue;
                                margin-top: 8px;
                                margin-bottom: 25px;
                                border-bottom: solid 1px $dark-grayish-blue;
                                padding-bottom: 25px;
                            }
                            &:last-child {
                                p {
                                    border-bottom: none;
                                    margin-bottom: 0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main__currentNews {
            @include d-flex;
            justify-content: space-between;
            gap: 20px;
            .currentNews-content-child {
                a {
                    @include d-flex;
                    gap: 20px;
                    text-decoration: none;
                    .content-image {
                        img {
                            width: 100px;
                            height: 127px;
                        }
                    }
                    .content-text {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        span {
                            color: $grayish-blue;
                            font-weight: 700;
                            font-size: 30px;
                        }
                        h2 {
                            color: $very-dark-blue;
                            font-size: 18px;
                            font-weight: 700;
                            &:hover {
                                color: $soft-red;
                            }
                        }
                        p {
                            color: $dark-grayish-blue;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    #news__page {
        main {
            .main__topStories {
                .topStories-content-newsbar {
                    .newsbar-items {
                        .newsbar-headline {
                            margin-bottom: 30px;
                            h1 {
                                margin-top: 15px;
                            }
                        }
                        .newsbar-item {
                            .newsbar-item-content {
                                p {
                                    margin-bottom: 35px;
                                    padding-bottom: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    br {
        &.xlarge {
            display: block;
        }
        &.large {
            display: block;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    br {
        &.xlarge {
            display: block;
        }
        &.large {
            display: block;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: none;
        }
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    #news__page {
        main {
            .main__topStories {
                .topStories-content-newsbar {
                    .newsbar-items {
                        .newsbar-headline {
                            h1 {
                                font-size: 30px;
                            }
                        }
                        .newsbar-item {
                            .newsbar-item-content {
                                span {
                                    font-size: 16px;
                                }
                                p {
                                    margin-bottom: 20px;
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .main__currentNews {
                .currentNews-content-child {
                    a {
                        .content-text {
                            span {
                                font-size: 25px;
                            }
                            h2 {
                                font-size: 16px;
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    br {
        &.xlarge {
            display: none;
        }
        &.large {
            display: block;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    #news__page {
        header {
            .navbar {
                margin-top: 25px;
                margin-bottom: 25px;
                .navbar-toggler {
                    border: none;
                    outline: none;
                    &:focus {
                        box-shadow: none;
                    }
                    .navbar-toggler-icon {
                        background-image: url(/assets/img/icon-menu.svg);
                    }
                }
                #navbarNav {
                    justify-content: flex-end;
                    .navbar-nav {
                        gap: 20px;
                        .nav-item {
                            .nav-link {
                                color: $dark-grayish-blue;
                                font-weight: 500;
                                &:hover {
                                    color: $soft-red;
                                }
                            }
                        }
                    }
                }
            }
        }
        main {
            .main__topStories {
                .topStories-content-headline {
                    .content-text {
                        margin-bottom: 30px;
                    }
                }
            }
            .main__currentNews {
                align-items: flex-start;
                flex-direction: column;
                gap: 30px;
                padding-bottom: 50px;
            }
        }
    }

    br {
        &.xlarge {
            display: none;
        }
        &.large {
            display: none;
        }
        &.medium {
            display: block;
        }
        &.small {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    br {
        &.xlarge {
            display: none;
        }
        &.large {
            display: none;
        }
        &.medium {
            display: none;
        }
        &.small {
            display: block;
        }
    }
}