@import "variables";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        @include font;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
}

#news__page {
    header {
        .navbar {
            margin-top: 65px;
            margin-bottom: 40px;
            #navbarNav {
                justify-content: flex-end;
                .navbar-nav {
                    gap: 20px;
                    .nav-item {
                        .nav-link {
                            color: $dark-grayish-blue;
                            font-weight: 500;
                            &:hover {
                                color: $soft-red;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        .main__topStories {
            margin-bottom: 50px;
            .topStories-content-headline {
                .content-slide {
                    margin-bottom: 30px;
                    .storiesSwiper {
                        .swiper-wrapper {
                            .swiper-slide {
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .content-text {
                    @include d-flex;
                    gap: 50px;
                    .title {
                        font-size: 55px;
                        line-height: 1;
                        font-weight: 700;
                        flex-basis: 100%;
                    }
                    .description {
                        flex-basis: 100%;
                        p {
                            padding-bottom: 25px;
                        }
                        a {
                            background-color: $soft-red;
                            color: $off-white;
                            text-decoration: none;
                            text-transform: uppercase;
                            padding: 14px 30px;
                            letter-spacing: 4px;
                            font-weight: 700;
                            font-size: 13px;
                            &:hover {
                                background-color: $very-dark-blue;
                            }
                        }
                    }
                }
            }
            .topStories-content-newsbar {
                .newsbar-items {
                    background-color: $very-dark-blue;
                    height: 100%;
                    padding: 25px;
                    .newsbar-headline {
                        margin-bottom: 20px;
                        h1 {
                            color: $soft-orange;
                            font-weight: 700;
                        }
                    }
                    .newsbar-item {
                        @include d-flex;
                        flex-direction: column;
                        gap: 67px;
                        .newsbar-item-content {
                            span {
                                color: $off-white;
                            }
                            p {
                                color: $grayish-blue;
                            }
                        }
                    }
                }
            }
        }
        .main__currentNews {
            @include d-flex;
            justify-content: space-between;
        }
    }
}