@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
html body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#news__page header .navbar {
  margin-top: 65px;
  margin-bottom: 40px;
}
#news__page header .navbar #navbarNav {
  justify-content: flex-end;
}
#news__page header .navbar #navbarNav .navbar-nav {
  gap: 20px;
}
#news__page header .navbar #navbarNav .navbar-nav .nav-item .nav-link {
  color: hsl(236, 13%, 42%);
  font-weight: 500;
}
#news__page header .navbar #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: hsl(5, 85%, 63%);
}
#news__page main .main__topStories {
  margin-bottom: 50px;
}
#news__page main .main__topStories .topStories-content-headline .content-slide {
  margin-bottom: 30px;
}
#news__page main .main__topStories .topStories-content-headline .content-slide .storiesSwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#news__page main .main__topStories .topStories-content-headline .content-text {
  display: flex;
  align-items: center;
  gap: 50px;
}
#news__page main .main__topStories .topStories-content-headline .content-text .title {
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  flex-basis: 100%;
}
#news__page main .main__topStories .topStories-content-headline .content-text .description {
  flex-basis: 100%;
}
#news__page main .main__topStories .topStories-content-headline .content-text .description p {
  padding-bottom: 15px;
}
#news__page main .main__topStories .topStories-content-headline .content-text .description a button {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 30px;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 13px;
  border: none;
  outline: none;
}
#news__page main .main__topStories .topStories-content-headline .content-text .description a button:hover {
  background-color: hsl(240, 100%, 5%);
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items {
  background-color: hsl(240, 100%, 5%);
  height: 100%;
  padding: 25px;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-headline {
  margin-bottom: 20px;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-headline h1 {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  margin-top: 10px;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-item {
  display: flex;
  flex-direction: column;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-item .newsbar-item-content span {
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  font-size: 20px;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-item .newsbar-item-content span:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-item .newsbar-item-content p {
  color: hsl(233, 8%, 79%);
  margin-top: 8px;
  margin-bottom: 25px;
  border-bottom: solid 1px hsl(236, 13%, 42%);
  padding-bottom: 25px;
}
#news__page main .main__topStories .topStories-content-newsbar .newsbar-items .newsbar-item .newsbar-item-content:last-child p {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#news__page main .main__currentNews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
#news__page main .main__currentNews .currentNews-content-child a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
#news__page main .main__currentNews .currentNews-content-child a .content-image img {
  width: 100px;
  height: 127px;
}
#news__page main .main__currentNews .currentNews-content-child a .content-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#news__page main .main__currentNews .currentNews-content-child a .content-text span {
  color: hsl(233, 8%, 79%);
  font-weight: 700;
  font-size: 30px;
}
#news__page main .main__currentNews .currentNews-content-child a .content-text h2 {
  color: hsl(240, 100%, 5%);
  font-size: 18px;
  font-weight: 700;
}
#news__page main .main__currentNews .currentNews-content-child a .content-text h2:hover {
  color: hsl(5, 85%, 63%);
}
#news__page main .main__currentNews .currentNews-content-child a .content-text p {
  color: hsl(236, 13%, 42%);
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  br.large {
    display: block;
  }
  br.medium {
    display: none;
  }
  br.small {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  br.large {
    display: block;
  }
  br.medium {
    display: none;
  }
  br.small {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  br.large {
    display: none;
  }
  br.medium {
    display: block;
  }
  br.small {
    display: none;
  }
}
@media (max-width: 767px) {
  br.large {
    display: none;
  }
  br.medium {
    display: none;
  }
  br.small {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */